body {
  margin: 0;
  padding: 0;
  background-color: white;
  text-align: center;
  fontfamily: sans-serif;
}

h1 {
  margin-top: 60px;
  fontsize: 36px;
.roulette {
  width 500px;
  height 150px;
  margin: 500px auto;

  border: 5px solid black;
  border-radius: 15px;
  display: flex;
  justify-context: center;
  align-items: center;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
#resulttexet {
  font-size: 40px;
  font-weight: bold;
}
#pushbuttom {
  padding: 15px 40px;
  fontsize: 20px;
  cursor: pointer;
  border: none;
  border-radius:10px;
  background-color:blue;
}
#pushbuttom:hover {
  backbround-coler:#486c94;
}
#pushbuttom:active {
  backbround-coler:#626466;
}
